<!DOCTYPE html>

<html>
  <head>
    <title>Eric Abenojar</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
  </head>

<body>

<div class="container">
  <div class="main_page">
    <ul class="nav">
      <li><a class="active" href="#">TOURS</a></li>
      <li><a href="#">COUNTRIES</a></li>
      <li><a href="#">EVENTS</a></li>
      <li><a href="#">REVIEWS</a></li>
    </ul>
    <div class="center-text">DISCOVER</div>
      <img class="main_page_image" src="https://images.unsplash.com/photo-1508881598441-324f3974994b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2aef1e2f3895c40e891654ae51f9c1e3&auto=format&fit=crop&w=1050&q=80" alt="TRAVEL PAGE">
  </div>
  <div class="tours_section">
    <div class="tours-section-row">
      <div class="tours-section-containers first-container">
        <div class="tours-section-image-box">
          <img class="tours-section-image" src="https://images.unsplash.com/photo-1498503403619-e39e4ff390fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1c5d6d38e55e3478f8ec5d6faa5ab77d&auto=format&fit=crop&w=1050&q=80" alt="Yosemite">
        </div>
        <div class="tours-section-text-box">
          <h1 class="tours-city">IMEROVIGLI</h1>
            <h1 class="tours-country first-country">GREECE</h1>
                <p class="tours-description">Lorem Ipsum is simply dummy feeaf text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              <h3 class="tours-departure">DEPARTURE</h3>
            <h5 class="tours-date first-country">August 5</h5>
        </div>
      </div>
      <div class="tours-section-containers second-container">
        <div class="tours-section-image-box">
          <img class="tours-section-image" src="https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cea32ac97f8ffde3f76df4a646ac8b4d&auto=format&fit=crop&w=1050&q=80" alt="Yosemite">
        </div>
        <div class="tours-section-text-box">
          <h1 class="tours-city">PRAGSER WILDSEE</h1>
            <h1 class="tours-country second-country">ITALY</h1>
              <p class="tours-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <h3 class="tours-departure">DEPARTURE</h3>
          <h5 class="tours-date second-country">August 5</h5>
        </div>
      </div>
      <div class="tours-section-containers third-container">
        <div class="tours-section-image-box">
          <img class="tours-section-image" src="https://images.unsplash.com/photo-1490643015579-4a1f6a8f864b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf46c7cb684ea2911ceb707f105a9345&auto=format&fit=crop&w=1050&q=80" alt="Yosemite">
        </div>
        <div class="tours-section-text-box">
          <h1 class="tours-city">ESTES PARK</h1>
            <h1 class="tours-country third-country">UNITED STATES</h1>
              <p class="tours-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <h3 class="tours-departure">DEPARTURE</h3>
          <h5 class="tours-date third-country">August 5</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="countries_section">
    <div class="countries-main-container">
        <div class="countries-container-left">
          <img class="countries-container-left-image" src="https://images.unsplash.com/photo-1501554728187-ce583db33af7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f20c7f5ad769d9bed0d1104fca8f5074&auto=format&fit=crop&w=634&q=80" alt="">
        </div>
          <div class="countries-container-right">
            <div class="countries-title-container">
              <h1 class="countries-title">Hiking around Crested Butte, United States</h1>
            </div>  
            <div class="countries-information-boxes">
              <div class="box" id="box1">
                <h3 class="box-titles" id="box-title-1">DEPARTURE</h3>
                <h1 class="box-descriptions">APRIL, 20</h1>
              </div>
              <div class="box">
                <h3 class="box-titles" id="box-title-2">DIFFICULTY</h3>
                <h1 class="box-descriptions">MEDIUM</h1>
              </div>
              <div class="box">
                <h3 class="box-titles" id="box-title-3">GROUP SIZE</h3>
                <h1 class="box-descriptions">4 PEOPLE</h1>
              </div>
              <div class="box">
                <h3 class="box-titles" id="box-title-4">DURATION</h3>
                <h1 class="box-descriptions">3 DAYS</h1>
              </div>
            </div>
          <div class="countries-description-container">
            <p class="countries-description">It is a long established fact that a reader will be distracted
               by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is 
               that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
               making it look like readable English. The point of using Lorem Ipsum is 
               that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
               making it look like readable English.
             </p>
          </div>
          <button class="countries-button" type="button" name="button">BOOK THIS</button>
        </div>
    </div>
    
  </div>
  <div class="events_section">
    <div class="events-container-left">
      <div class="events-text-left">
        USA
      </div>
    </div>
    <div class="events-container-right">
      <div class="first-event">
        <div class="event-image-section">
          <img class="event-image" src="https://images.unsplash.com/photo-1511449923494-cf6b1028e9d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3e134a3dfaf22894196a7e6624a62e02&auto=format&fit=crop&w=634&q=80" alt="">
        </div>
        <div class="event-information" id="first-event-information">
          <h1 class="first-event-location">Prague, Czechia</h1>
          <h1 class="event-date">Date: April 30, 2018</h1>
          <p class="event-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
            has been the industry's standard dummy text ever since the 1500s
            </p>
          <button class="first-event-button" type="button" name="button">VIEW THIS TOUR</button>
        </div>
      </div>
      <div class="second-event">
        <div class="event-image-section">
          <img class="event-image" src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=35464e00bbef1a93e6958980d587acb5&auto=format&fit=crop&w=1350&q=80" alt="">
        </div>
        <div class="event-information" id="second-event-information">
          <h1 class="second-event-location">Kluane National Park, Canada</h1>
          <h1 class="event-date">Date: April 30, 2018</h1>
          <p class="event-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <button class="second-event-button" type="button" name="button">VIEW THIS TOUR</button>
        </div>
      </div>
    </div>
    </div>
    <div class="review-container">
      <div class="review-intro">
        <h1 class="review-intro-title">EVENT CALENDAR</h1>
        <p class="review-intro-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
          ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
      <div class="review-section">
        <div class="review-section-box">
          <h1 class="review-section-title">April 15-20</h1>
          <h1 class="review-section-location">Tour Chaing Mai</h1>
          <p class="review-section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text 
              ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <h1 class="review-section-review">Read review here</h1>
        </div>
        <div class="review-section-box">
          <h1 class="review-section-title">May 3-9</h1>
          <h1 class="review-section-location">Tour New York</h1>
          <p class="review-section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text 
              ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <h1 class="review-section-review">Read review here</h1>
        </div>
        <div class="review-section-box">
          <h1 class="review-section-title">Oct 22-28</h1>
          <h1 class="review-section-location">Tour Paris France</h1>
          <p class="review-section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text 
              ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <h1 class="review-section-review">Read review here</h1>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="footer">
        <div class="footer-nav">
          <div class="footer-grid"><a href="#">TOURS</a></div>
          <div class="footer-grid"><a href="#">COUNTRIES</a></div>
          <div class="footer-grid"><a class="logo-footer" href="#">T-RAVELS</a></div>
          <div class="footer-grid"><a href="#">EVENTS</a></div>
          <div class="footer-grid"><a href="#">REVIEWS</a></div>
        </div>
      </div>
    </div>

</div>

</body>